fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
pymongo
motor
bcrypt
python-jose
passlib
groq
google-generativeai
google-genai
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
faiss-cpu
chromadb
sentence-transformers
pypdf
httpx
python-multipart
email-validator
gTTS
deep-translator
rembg
torch
transformers
huggingface_hub
scikit-learn
scipy
numpy
pillow
requests
aiohttp